{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block style %}
    <link rel="stylesheet" href="{% static 'spare/style.css' %}">

{% endblock %}
{% block content %}


       <section class="main-sections">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="h1" style="font-weight: bold; line-height: 1.2em">{% trans "НОВЫЕ ПОСТУПЛЕНИЯ ЗАПЧАСТЕЙ В КАТЕГОРИИ ЯПОНСКИХ ПРОИЗВОДИТЕЛЕЙ" %}</h1>
            <div style="margin-top: 80px; padding-right: 15px;" class="but_next">
              <a class="btn" id="next" style="background:red; color: white"  href="{% url 'products:japan_products' %}">{% trans "ПЕРЕЙТИ" %}</a>
              <a class="btn btn-black" id="next1" style="position:relative;left: -16px;" href="{% url 'products:japan_products' %}"><i class="fas fa-arrow-right"></i></a></div>

          </div>
          <div class="col-md-2 main-banner" style="margin-right: 40px;">
            <img src="{% static 'img/index/X10_orange1.png' %}" class="main-banner_photo" alt="">
          </div>
        </div>
        </div>
    </section>
    <!--CATEGORIES-->
    <section>
      <h2 class="h2 cat">{% trans "КАТЕГОРИИ" %}</h2>
      <div class="mt-5 nad-cat">
        <div class="row categories" >
          <div class="cols">
            <h3 class="h3">{% trans 'Запчасти' %}</h3>
              <ul>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Мотор' %} </p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Електрика' %}</p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Тормоза' %}</p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Кузов' %}</p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Покрышки' %}</p></li>

                <li><a href="{% url 'products:product_list' %}"><p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>
              </ul>
          </div>
          <div class="cols">
            <h3 class="h3">{% trans 'Масла, фільтра' %}</h3>
            <ul>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Воздушні фільтра' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Масляні фітльтра' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Моторні масла' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Охолоджуюча рідина' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Мастила' %}</p></li>

              <li><a href="{% url 'products:product_list' %}"><p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>
            </ul>
          </div>
          <div class="cols">
            <h3 class="h3">{% trans 'Аксесуари' %}</h3>
            <ul>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Диски' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Захист рук' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Підігрув ручки' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Лебідки' %}</p></li>
              <li><p></p></li>
              <li style="padding-top: 23px;"><a href="{% url 'products:product_list' %}"><p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>
            </ul>
          </div>
          <div class="cols">
            <h3 class="h3">{% trans 'Різне' %}</h3>
            <ul>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Каністри' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Окуляри' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Уніформа' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Fenix' %}</p></li>
              <li><p></p></li>
              <li style="padding-top: 23px;"><a href="{% url 'products:product_list' %}">
                  <p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>

            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--ПРОДУКТЫ-->
    <section>
      <h2 class="h2 tov">{% trans 'ПОПУЛЯРНЫЕ ТОВАРЫ' %}</h2>

    <div class="mt-5 prod">
      <div class="row products">
           {% for product in products|slice:"6" %}
                    <div class="product text-center pb-4">
                    {% if product.image %}
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="prod_image" alt="" style="border:1px solid black"></a>
                    {% endif %}

                        <p><small>{{ product.manufacturer.category.title }}</small></p>
                        <p class="font-weight-bold">{{ product.title }}</p>
                        <p>{{ product.price }} {% trans 'грн' %}</p>
                        <form action="{% url "cart:cart_add" product.id %}" method="post" style="margin-right: 10px;">
                            {% csrf_token %}
                            <div style="display: none">
                                {{ cart_product_form }}
                            </div>
                     <button class="btn w-100" style="background:red; color: white;" type="submit">{% trans 'В КОРЗИНУ' %} <i class="fas fa-shopping-cart white-text"></i></button>
                        </form>
                </div>
                {% endfor %}



      </div>
    </div>
    </section>
    <!--  ВЫ СМОТРЕЛИ -->
    <section>
{#      <h2 class="h2 tov">{% trans 'ВЫ СМОТРЕЛИ' %}</h2>#}
{##}
{#    <div class="mt-5 prod">#}
{#      <div class="row products">#}
{#           {% for item in viewed|slice:"6" %}#}
{#                {% with product=item.product %}#}
{#                    <div class="product text-center pb-4">#}
{#                    {% if product.image %}#}
{#                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="prod_image" alt="" style="border:1px solid black"></a>#}
{#                    {% endif %}#}
{##}
{#                        <p><small>{{ product.manufacturer.category.title }}</small></p>#}
{#                        <p class="font-weight-bold">{{ product.title }}</p>#}
{#                        <p>{{ product.price }} {% trans 'грн' %}</p>#}
{#                        <form action="{% url "cart:cart_add" product.id %}" method="post" style="margin-right: 10px;">#}
{#                            {% csrf_token %}#}
{#                            <div style="display: none">#}
{#                                {{ cart_product_form }}#}
{#                            </div>#}
{#                     <button class="btn w-100" style="background:red; color: white;" type="submit">{% trans 'В КОРЗИНУ' %} <i class="fas fa-shopping-cart white-text"></i></button>#}
{#                        </form>#}
{#                </div>#}
{#               {% endwith %}#}
{#                {% endfor %}#}
{##}
{##}
{##}
{#      </div>#}
{#    </div>#}
{#    </section>#}

    <section class="w-100 main-spares" style="margin-top: 70px;" >
      <div class="cont" style="padding-left: 70px;">
        <div class="spares">
          <div class="spare-text"><h1 class="h1 mt-5 white-text">{% trans 'ПОДБЕРЁМ НУЖНЫЕ ЗАПЧАСТИ ИМЕННО ДЛЯ ВАШЕЙ СИТУАЦИИ' %}</h1></div>
          <div class="spare-form">
            <div class="form">
              <form action="" method="post" class="form-spare">
                  {% csrf_token %}
                <div>
                  <label for="name" style="padding-right: 100px;" class="white-text">{% trans 'ВАШЕ ИМЯ' %}</label>
                  <label for="number" class="white-text">{% trans 'ВАШ ТЕЛЕФОН' %}</label>

                  <br>
                  {{ form.name }}
                  {{ form.phone }}
                </div>
                <div>
                  <label for="model_one" style="padding-right: 120px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>
                  <label for="model_two" style="padding-left: 15px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>

                  <br>
                  {{ form.model_one }}
                  {{ form.model_two }}
                </div>

                <button class="btn btn-danger" style="position: relative; left: -5px; top: 10px;" type="submit">{% trans 'ПОДОБРАТЬ' %}</button>

              </form>
            </div>
          </div>
            <div class="form1">
              <form action="" method="post" class="form-spare">
                  {% csrf_token %}
                <div>
                  <label for="name" style="padding-right: 100px;" class="white-text">{% trans 'ВАШЕ ИМЯ' %}</label>
                  <label for="number" class="white-text">{% trans 'ВАШ ТЕЛЕФОН' %}</label>

                  <br>
                  {{ form.name }}
                  {{ form.phone }}
                </div>
                <div>
                  <label for="model_one" style="padding-right: 120px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>
                  <label for="model_two" style="padding-left: 15px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>

                  <br>
                  {{ form.model_one }}
                  {{ form.model_two }}
                </div>

                <button class="btn btn-danger" style="position: relative; left: -5px; top: 10px;" type="submit">{% trans 'ПОДОБРАТЬ' %}</button>

              </form>
            </div>
          <div class="spare-img">
            <img src="{% static 'img/index/track.png' %}" class="track" alt="">
          </div>

        </div>
      </div>


</section>


{% endblock %}