{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}
{% block style %}
    <style>
    .main-sections{
        margin-top: 110px;


}
.main-banner{
    position: relative;
    bottom: 80px;
    right: 190px;
}
.prod{
    padding-left: 75px
}
.categories{
    width: 100%;
    /*display: flex;*/

    /*margin: 0 auto;*/

    padding-left: 9px;
}
.categories .cols{
    float: left;
    width: 20%;
    border: 1px solid black;
    margin-right: 48px;

}
.categories .cols h3{
    padding-top: 20px;
    padding-left: 20px;
}
.categories .cols ul{
    display: block;
    padding-top: 10px;
    padding-left: 20px;
}
.categories .cols p{
    padding-left: 10px;
    font-weight: bold;
}
.products{
    width: 100%;
    margin: 0 auto; /* расположить по середине */
    display: flex; /* расположить блоки */


    position: relative;
    left: -10px;


}
.product{
    margin-right: 18px;
    width: 15%;
}
.product .prod_image{
       width: 200px;
       height: 200px;
   }



.spares{
    width: 100%;
    margin: 0 auto; /* расположить по середине */
    display: flex; /* расположить блоки */
    position: relative;
    left: -20px;
    height: 350px;
}
.spare-text{
    width: 35%;
    
}
.spare-text h1{
    font-size: 32pt;
}
.spare-form{
    position: relative;
    background: black;
    width: 45%;
    left: 130px;
    height: 370px;
    top: -20px;
    transform: skew(30deg, 0deg);
    -webkit-transform:skewX(30deg);
    -moz-transform:skewX(30deg);
    -ms-transform:skewX(30deg);
    -o-transform:skewX(30deg);

    /*display: block;*/
    /*width: 200px;*/
    /*padding-top: -2px;*/
    /*width: 65%;*/
}
.spare-form .form{
    position: relative;
    left: 80px;
    top: 80px;
    -webkit-transform:skewX(-30deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg);

}
.track{
    position:relative; width: 490px; top: -60px;
}


.spare-img{
    height: 370px;
    top: -20px;
    position: relative;
    left: 20px;
    background: black;
    width: 35%;
}
footer a{
    color: black;

}
h2{
    padding-left: 65px;
}
.main-spares{
    background: #000eb3;
}
.menu li{
    padding-bottom: 15px;
}
#next{
    width: 200px;
}
.nad-cat{
    padding-left: 75px
}
.h2{
    padding-left: 65px;
    padding-top: 90px
}
.form1{
    display: none;
}


    @media screen and (max-width: 450px) {
        .main-sections {
            width: 80%;
        }
        .main-spares{
            position: relative;
            top: -200px;
            background: red;
            height: 450px;
        }

        .container {
            width: 100%;
        }

        .container h1 {
            font-size: 20px;
            padding-left: 130px;
        }

        .container .main-banner {
            width: 100%;
            left: 300px;
            top: -300px;
        }

        .container .main-banner_photo {
            width: 180px;
            height: 180px;

        }

        .container .but_next {
            position: relative;
            left: 120px;
            top: -40px;
        }

        #next {
            width: 130px;
        }

        #next1 {
            width: 50px;
        }

        .cat {
            position: relative;
            top: -200px;
        }

        .categories {
            position: relative;
            top: -200px;
        }

        .categories .cols {

            width: 100%;
            border: 1px solid black;
            margin-top: 10px;
            position: relative;
            left: 20px;
        }

        .h2 {
            padding-left: 22px;
        }

        .nad-cat {
            padding-left: 30px
        }

        .products .product {
            width: 100%;
            position: relative;
            left: -20px;
        }

        .product .prod_image {
            width: 315px;
            height: 300px;
        }

        .tov {
            padding-left: 25px;
            position: relative;
            top: -200px;
        }

        .prod {
            position: relative;
            top: -200px;
        }

        .spare-text {
            position: relative;
            {#border: 1px solid black;#}
            {#top: -0px;#}
            background: red;
            width: 450px;
            z-index: 1;
            height: 250px;
            left: -80px;
        }

        .spare-text h1 {
            font-size: 20px;
            color: black;
            background: red;
        }



        .spare-img {
            position: relative;
            top: 0px;
            float: right;
            left: -313px;
            width: 100%;
            height: 240px;
            background: red;
        }

        .track {
            position: relative;
            top: 50px;
             width: 200px;
            float: right;
            left: 112px;

        }


        .spare-form {
            {#border: 1px solid black;#}
            {#position: relative;#}
            {#top: 220px;#}
            {#left: -250px;#}
            {#background: red;#}
            {#transform: skew(80deg, 0deg);#}
            {##}
            {#width: 100%;#}
            {#height: 50px;#}
            {##}
            {##}
            {#-webkit-transform: skewX(80deg);#}
            {#-moz-transform: skewX(80deg);#}
            {#-ms-transform: skewX(80deg);#}
            {#-o-transform: skewX(80deg);#} display: none;

        }
        .form1{
            display: block;
            background: black;
            {#position: relative;#}
            {#left:-460px;#}
            {#top: 1200px;#} margin-top: 300px;
            margin-left: -210px;
            padding-left: 20px;
            width:  480px;
            height: 200px;

            {#-webkit-transform: skewX(-80deg);#}
            {#-moz-transform: skewX(-80deg);#}
            {#-ms-transform: skewX(-80deg);#}
            {#-o-transform: skewX(-80deg);#}
            {#transform: skewX(-80deg);#}
        }
        .form-spare{
            background: black;
            width: 385px;
            position: relative;
            {#top: -40px;#}
            {#left: -200px;#}
        }
        .form1 input{
            width: 180px;
            {#-ms-margin-top: 20px;#}
            {#-ms-margin-left: 10px;#}

        }
    }
    </style>
{% endblock %}
{% block content %}


       <section class="main-sections">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 class="h1" style="font-weight: bold; line-height: 1.2em">{% trans "НОВЫЕ ПОСТУПЛЕНИЯ ЗАПЧАСТЕЙ В КАТЕГОРИИ ЯПОНСКИХ ПРОИЗВОДИТЕЛЕЙ" %}</h1>
            <div style="margin-top: 80px; padding-right: 15px;" class="but_next">
              <a class="btn" id="next" style="background:red; color: white"  href="{% url 'products:japan_products' %}">{% trans "ПЕРЕЙТИ" %}</a>
              <a class="btn btn-black" id="next1" style="position:relative;left: -16px;" href="{% url 'products:japan_products' %}"><i class="fas fa-arrow-right"></i></a></div>

          </div>
          <div class="col-md-2 main-banner" style="margin-right: 40px;">
            <img src="{% static 'img/index/X10_orange1.png' %}" class="main-banner_photo" alt="">
          </div>
        </div>
        </div>
    </section>
    <!--CATEGORIES-->
    <section>
      <h2 class="h2 cat">{% trans "КАТЕГОРИИ" %}</h2>
      <div class="mt-5 nad-cat">
        <div class="row categories" >
          <div class="cols">
            <h3 class="h3">{% trans 'Запчасти' %}</h3>
              <ul>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Мотор' %} </p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Електрика' %}</p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Тормоза' %}</p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Кузов' %}</p></li>
                <li><i class="fas fa-check red-text"></i><p>{% trans 'Покрышки' %}</p></li>

                <li><a href="{% url 'products:product_list' %}"><p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>
              </ul>
          </div>
          <div class="cols">
            <h3 class="h3">{% trans 'Масла, фільтра' %}</h3>
            <ul>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Воздушні фільтра' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Масляні фітльтра' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Моторні масла' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Охолоджуюча рідина' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Мастила' %}</p></li>

              <li><a href="{% url 'products:product_list' %}"><p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>
            </ul>
          </div>
          <div class="cols">
            <h3 class="h3">{% trans 'Аксесуари' %}</h3>
            <ul>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Диски' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Захист рук' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Підігрув ручки' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Лебідки' %}</p></li>
              <li><p></p></li>
              <li style="padding-top: 23px;"><a href="{% url 'products:product_list' %}"><p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>
            </ul>
          </div>
          <div class="cols">
            <h3 class="h3">{% trans 'Різне' %}</h3>
            <ul>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Каністри' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Окуляри' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Уніформа' %}</p></li>
              <li><i class="fas fa-check red-text"></i><p>{% trans 'Fenix' %}</p></li>
              <li><p></p></li>
              <li style="padding-top: 23px;"><a href="{% url 'products:product_list' %}">
                  <p style="color: red; border-bottom: 1px solid red;">{% trans 'Більше товарів' %}</p></a></li>

            </ul>
          </div>
        </div>
      </div>
    </section>
    <!--ПРОДУКТЫ-->
    <section>
      <h2 class="h2 tov">{% trans 'ПОПУЛЯРНЫЕ ТОВАРЫ' %}</h2>

    <div class="mt-5 prod">
      <div class="row products">
           {% for product in products|slice:"6" %}
                    <div class="product text-center pb-4">
                    {% if product.image %}
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="prod_image" alt="" style="border:1px solid black"></a>
                    {% endif %}

                        <p><small>{{ product.manufacturer.category.title }}</small></p>
                        <p class="font-weight-bold">{{ product.title }}</p>
                        <p>{{ product.price }} {% trans 'грн' %}</p>
                        <form action="{% url "cart:cart_add" product.id %}" method="post" style="margin-right: 10px;">
                            {% csrf_token %}
                            <div style="display: none">
                                {{ cart_product_form }}
                            </div>
                     <button class="btn w-100" style="background:red; color: white;" type="submit">{% trans 'В КОРЗИНУ' %} <i class="fas fa-shopping-cart white-text"></i></button>
                        </form>
                </div>
                {% endfor %}



      </div>
    </div>
    </section>
    <!--  ВЫ СМОТРЕЛИ -->
    <section>
{#      <h2 class="h2 tov">{% trans 'ВЫ СМОТРЕЛИ' %}</h2>#}
{##}
{#    <div class="mt-5 prod">#}
{#      <div class="row products">#}
{#           {% for item in viewed|slice:"6" %}#}
{#                {% with product=item.product %}#}
{#                    <div class="product text-center pb-4">#}
{#                    {% if product.image %}#}
{#                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" class="prod_image" alt="" style="border:1px solid black"></a>#}
{#                    {% endif %}#}
{##}
{#                        <p><small>{{ product.manufacturer.category.title }}</small></p>#}
{#                        <p class="font-weight-bold">{{ product.title }}</p>#}
{#                        <p>{{ product.price }} {% trans 'грн' %}</p>#}
{#                        <form action="{% url "cart:cart_add" product.id %}" method="post" style="margin-right: 10px;">#}
{#                            {% csrf_token %}#}
{#                            <div style="display: none">#}
{#                                {{ cart_product_form }}#}
{#                            </div>#}
{#                     <button class="btn w-100" style="background:red; color: white;" type="submit">{% trans 'В КОРЗИНУ' %} <i class="fas fa-shopping-cart white-text"></i></button>#}
{#                        </form>#}
{#                </div>#}
{#               {% endwith %}#}
{#                {% endfor %}#}
{##}
{##}
{##}
{#      </div>#}
{#    </div>#}
{#    </section>#}

    <section class="w-100 main-spares" style="margin-top: 70px;" >
      <div class="cont" style="padding-left: 70px;">
        <div class="spares">
          <div class="spare-text"><h1 class="h1 mt-5 white-text">{% trans 'ПОДБЕРЁМ НУЖНЫЕ ЗАПЧАСТИ ИМЕННО ДЛЯ ВАШЕЙ СИТУАЦИИ' %}</h1></div>
          <div class="spare-form">
            <div class="form">
              <form action="" method="post" class="form-spare">
                  {% csrf_token %}
                <div>
                  <label for="name" style="padding-right: 100px;" class="white-text">{% trans 'ВАШЕ ИМЯ' %}</label>
                  <label for="number" class="white-text">{% trans 'ВАШ ТЕЛЕФОН' %}</label>

                  <br>
                  {{ form.name }}
                  {{ form.phone }}
                </div>
                <div>
                  <label for="model_one" style="padding-right: 120px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>
                  <label for="model_two" style="padding-left: 15px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>

                  <br>
                  {{ form.model_one }}
                  {{ form.model_two }}
                </div>

                <button class="btn btn-danger" style="position: relative; left: -5px; top: 10px;" type="submit">{% trans 'ПОДОБРАТЬ' %}</button>

              </form>
            </div>
          </div>
            <div class="form1">
              <form action="" method="post" class="form-spare">
                  {% csrf_token %}
                <div>
                  <label for="name" style="padding-right: 100px;" class="white-text">{% trans 'ВАШЕ ИМЯ' %}</label>
                  <label for="number" class="white-text">{% trans 'ВАШ ТЕЛЕФОН' %}</label>

                  <br>
                  {{ form.name }}
                  {{ form.phone }}
                </div>
                <div>
                  <label for="model_one" style="padding-right: 120px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>
                  <label for="model_two" style="padding-left: 15px;" class="white-text">{% trans 'МОДЕЛЬ' %}</label>

                  <br>
                  {{ form.model_one }}
                  {{ form.model_two }}
                </div>

                <button class="btn btn-danger" style="position: relative; left: -5px; top: 10px;" type="submit">{% trans 'ПОДОБРАТЬ' %}</button>

              </form>
            </div>
          <div class="spare-img">
            <img src="{% static 'img/index/track.png' %}" class="track" alt="">
          </div>

        </div>
      </div>


</section>


{% endblock %}