*{
    padding: 0;
    margin: 0;
}
.news{
    margin-left: 65px;
    /*display: flex;*/
    width: 90%;

}
.news_detail{
    width: 90%;
    margin-left: 60px;
}
.news_detail p{
    font-weight: normal;
}

