{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block style %}
    <style>
    .road{
    width: 100%;
    height: 300px;
    background-image: url({% static 'img/del/road.png' %});
    background-position: center;

}

.first-slide{
    width: 30%;
}
.second-slide{
    width: 70%;
}
.first-slide p{

}

@media screen and (max-width: 1060px){
    .road{
        display: none;
    }

}

@media screen and (max-width: 660px){
    .delivery{
        display: block;
    }
    .img-fluid{
        display: none;
    }

}
    </style>
{% endblock %}
{% block content %}

       <div class="page d-flex" style="margin-left: 60px;">
        <p class="red-text" style="word-spacing: 5px">{% trans 'Главная ' %}   /   </p>

        <p class="red-text font-weight-bold" style="word-spacing: 3px">&nbsp;{% trans 'Доставка' %}</p>
    </div>
<section>
    <div class="road">
        <div class="row">
            <div class="col post" style="margin-top: 100px; margin-left: 60px;">
                <img src="{% static 'img/del/npost.png' %}" width="300" alt="">
            </div>
            <div class="col post" style="margin-top: 100px;">
                <img src="{% static 'img/del/intime.png' %}"  width="300" alt="">
            </div>
            <div class="col post" style="margin-top: 80px;">
                <img src="{% static 'img/del/del.png' %}"  width="300" alt="">
            </div>
        </div>


    </div>
</section>
    <section>
        <div class="delivery d-flex">
            <div class="first-slide col-md-6" style="margin-left: 60px;">
                <h3 class="h3 mt-5 mb-3" >{% trans 'ДОСТАВКА В РЕГИОНЫ' %}</h3>
                <p>{% trans 'Доставка товару по Україні здійснюється транспортними службами' %}:
                    <b>"{% trans 'Нова Пошта", "Ін-Тайм", "Делівері' %}"</b>,
                    {% trans 'Відправки оплатою пысля доставки здійснюються тільки транспортними компанією' %}
                    <b>"{% trans 'Нова Пошта' %}"</b>
                    {% trans 'Доставка товару транспортними компаніями' %} <b>"{% trans 'Ін-Тайм' %}", "{% trans 'Делівері' %}"</b>
                    {% trans 'здійснюється за 100% передплатою.' %}
                </p>
                <h3 class="h3 mt-5 mb-3" >{% trans 'Способы оплаты' %}:</h3>
                <p>{% trans "Нова Пошта надає послугу 'Грошовий переказ' (накладений платіж)" %}</p>
                <p>{% trans "Послуга 'Грошовий переказ' (післяплата) складається з наступних платежів" %}:</p>
                <p>1. {% trans "Оформлення грошового переказу (конверт) - 18 грн." %}</p>
                <p>2. {% trans "Комісія за переказ грошей - 2% від вартості товару." %}</p>

                <h3 class="h3 mt-5 mb-3">{% trans 'Отримання товару:' %}</h3>
                <p>{% trans "Про відправку товару Вас сповістять допомогою SMS-повідомлення, в якому буде" %}</p>
                <p>{% trans "вказано № декларації (ТТН)." %}</p>
                <p>{% trans "Для отримання вантажу необхідно вказати на перевізнику № декларації (ТТН) і мати при" %}</p>
                <p>{% trans "собі документ, що підтверджує Вашу особу: паспорт або водійське посвідчення." %}</p>

                <h3 class="h3 mt-5 mb-3">{% trans 'ВАЖЛИВО' %}!!!</h3>
                <p>{% trans "При отриманні Вашого товару, обов'язково перевірте цілісність упаковки і її вмісту!" %}</p>
                <p>{% trans "Якщо Ви виявили" %}:</p>
                <p>{% trans "розірвану упаковкусліди від падіння помяту упаковки сліди втручання і т.п.Наполягайте" %},</p>
                <p>{% trans "щоб працівники даної філії 'транспортної служби» задокументували всі візуально видимі" %} </p>
                <p>{% trans "сліди і негайно зв'яжіться з менеджером, який оформляв відправку Вашого товару." %}</p>
                <h3 class="h3 mt-5 mb-3">{% trans "Відповідальність за цілісність вантажу на 100% несе транспортна компанія!" %}</h3>

            </div>
            <div class="second-slide col" >
                <h3 class="h3 mt-5 mb-3">{% trans "Доставка в відділення Нової Пошти по Україні" %}
                    </h3>
                <p>{% trans 'Термін доставки товару транспортною службою "Нова Пошта" в середньому 1-3 дні. Під час замовлення' %}
                    {% trans 'Ви можете вказати зручний для Вас день забору товару, наші менеджери підберуть оптимальний час відправки. Ви можете вказати зручний для Вас день забору товару, наші менеджери підберуть оптимальний час відправк' %}
                </p>
                <div>
                    <img src="{% static 'img/del/car.png' %}" width="600" style="margin-left: 70px"  class="img-fluid" alt="">
                </div>
                </div>

        </div>
    </section>




{% endblock %}