{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock %}
{% block content %}
     <div class="page d-flex" style="margin-left: 60px;">
        <p class="red-text" style="word-spacing: 5px">Главная    /   </p>

        <p class="red-text font-weight-bold" style="word-spacing: 3px">&nbsp Новости</p>
    </div>
      <section>
        <div class="news">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-md-4 new-item" style="padding-top: 40px;">
                            <a href="{% url 'blog:post_detail' pk=post.pk %}" style="font-size: 16pt; font-weight: bold"
                               class="pb-4 pt-4 black-text"><p>{{ post.title }}</p></a>
                            {% if post.image_one %}
                                <a href="{% url 'blog:post_detail' pk=post.pk %}">
                                    <img src="{{ post.image_one.url }}" class="img-fluid"
                                         style="width: 450px; height: 300px;" alt=""></a>
                            {% endif %}
                        <div style="height: 95px; overflow: hidden;">
                            <p class="pt-4">{{ post.content }}</p>
                        </div>                    </div>
                    {% endfor %}
                    </div>
                </div>
    </section>
{% endblock %}
