.languages a{
            text-transform: uppercase;
            font-weight: normal;
        }
    .languages{
        position: relative;
        left: -20px;
    }
    *{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
    display: flex;

}
.languages p{
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
header{
    background: #ffffff;
    padding: 21px 0;
}
.header-container{
    width: 100%;
    margin: 0 auto; /* расположить по середине */
    display: flex; /* расположить блоки */
    justify-content: left;
    padding-left: 60px;
    border-bottom: 1px solid black;
    height: 90px;
}
.header-container a{
    color: #000000;
    font-size: 11pt;
    margin-right: 25px;
    margin-top: 20px;
    font-weight: bold;
}

.header-container p{
    color: #000000;
    font-size: 11.5pt;
    margin-right: 30px;
    margin-top: 20px;
}
.header-container a:hover{
    font-size: 12pt;
}
#menu-checkbox{
    display: none;
}
ul{
    display: flex;
}
nav{

}
.q{
    border: none;
    border-bottom: 1px solid black;
    height: 30px;


}

.numbers {
    position: relative;
    top: -43px;
    height: 125px;
    background: #ff3547;
    margin-left: 40px;
    /*transform: skew(0deg, -15deg);*/
    -webkit-transform:skewX(-30deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg);
    display: block;
    width: 200px;
    padding-top: -2px;
}
.number{
    position: relative;
    top: 40px;
    color: white;
    font-weight: bold;
    font-family: Roboto, serif;
}
.main-sections{
    position: relative;
    left: -120px;
}
.main-banner{
    position: relative;
    bottom: 80px;
    right: 190px;
}

.categories{
    width: 100%;
    /*display: flex;*/

    /*margin: 0 auto;*/
    justify-content: left;
    padding-left: 9px;
}
.categories .cols{
    float: left;
    width: 20%;
    border: 1px solid black;
    margin-right: 48px;

}
.categories .cols h3{
    padding-top: 20px;
    padding-left: 20px;
}
.categories .cols ul{
    display: block;
    padding-top: 10px;
    padding-left: 20px;
}
.categories .cols p{
    padding-left: 10px;
    font-weight: bold;
}
.products{
    width: 100%;
    margin: 0 auto; /* расположить по середине */
    display: flex; /* расположить блоки */


    position: relative;
    left: -20px;


}
.product{
    margin-right: 18px;
}


.spares{
    width: 100%;
    margin: 0 auto; /* расположить по середине */
    display: flex; /* расположить блоки */
    position: relative;
    left: -20px;
    height: 350px;
}
.spare-text{
    width: 35%;
}
.spare-form{
    position: relative;
    background: black;
    width: 45%;
    left: 130px;
    height: 370px;
    top: -20px;
    transform: skew(30deg, 0deg);
    -webkit-transform:skewX(30deg);
    -moz-transform:skewX(30deg);
    -ms-transform:skewX(30deg);
    -o-transform:skewX(30deg);




    /*display: block;*/
    /*width: 200px;*/
    /*padding-top: -2px;*/
    /*width: 65%;*/
}

.spare-form .form{
    position: relative;
    left: 80px;
    top: 60px;
    -webkit-transform:skewX(-30deg);
    -moz-transform:skewX(-30deg);
    -ms-transform:skewX(-30deg);
    -o-transform:skewX(-30deg);
    transform:skewX(-30deg);
}
.spare-img{
    height: 370px;
    top: -20px;
    position: relative;
    left: 20px;
    background: black;
    width: 35%;
}
footer a{
    color: black;

}
.menu li{
    padding-bottom: 15px;
}



@media screen and (max-width: 420px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        border-bottom: none;


    }
    .q{
        display: none;
    }
    .numbers{
        display: none;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12pt;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: #000000;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }

    #menu-checkbox:checked + nav[role='navigation'] .main-menu{
        display: block;
        background: red;
    }

    #menu-checkbox:checked + nav[role='navigation'] .toggle-button:after {
        content: attr(data-close);
    }


    /*.header-container a{*/
        /*margin-right: -55px;*/
    /*}*/

}
