{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style_news.css' %}">
    <style>
    .page{
        display: flex;
    }
    .banner{
    /*background: red;*/

    width: 100%;
    height: 300px;
    position: relative;

    background-image: url({% static 'img/about/banner.png'%});
    background-position: left top;
    background-repeat: no-repeat;
}
    .about{
        position: relative; margin-left: 60px; top: 40px;
    }
    .offers{
    width: 40%;
}
.offers p{
    font-size: 14pt;
}
#offers_two{
    width: 60%;
    position:relative; left: -50px;
}
#offers_two p{

    font-weight: normal;
    font-size: 11pt;
}
#offers_two h3{
    font-size: 16pt;
    line-height: 30px;
}
@media screen and (max-width: 767px) {
    #offers_two{
        position: relative;
        left: 0px;
    }

}
    @media screen and (max-width: 420px){
        .page{
            display: none;
        }
        .banner{
            height: 500px;
            background-repeat: repeat-y;
        }
        .about{
            position: relative;
            margin-left: 30px;
            top: 40px;
        }
        #offers_two{
            width: 100%;
            position: relative;
            left: 0px;

        }
        #offers_two p{
            text-align: justify;
            width: 90%;
            {#margin-left: 60px;#}

        }
        .photos .photo img{
            width: 100%;
        }

    }
    </style>
{% endblock %}
{% block content %}

     <div class="page" style="margin-left: 60px;">
        <p class="red-text" style="word-spacing: 5px">{% trans 'Главная' %}    /   </p>

        <p class="red-text font-weight-bold" style="word-spacing: 3px">&nbsp;{% trans 'О нас' %}</p>
    </div>
<section>
    <div class="banner">
        <h1 style="font-family: 'Aldo the Apache'; font-size: 60pt; position:relative; top: 30px; padding-left: 60px;"
            class="white-text">TRACK</h1>
        <div style="width: 75%"><h3 class="h3 white-text" style="position: relative; left: 60px; padding-top: 20px;
            font-size: 20pt">
            {% trans 'Ми мережа магазинів "Трек" в Рівненській області.' %}
            {% trans " 'Трек' на ринку більше 12 років, через це ми володіємо  великим досвідом і якісним товаром," %}
            {% trans "клієнт - це наша першочергова задача" %}.</h3></div>

    </div>

</section>
    <section class="mb-5 about">
        <h4 class="h4">{% trans 'Для клиентов предлагаем' %}:</h4>
        <div class="row">

            <div class="col-md-5">

                <h4 class="mt-5 h4" style="font-size: 15pt;">1. {% trans 'Немалый спектр товаров пожарного оборудования' %}:</h4>
                <p class="font-weight-normal">- {% trans 'Мотопомпы' %};</p>
                <p class="font-weight-normal">-{% trans 'Генераторы и их комплектующие' %};</p>
                <p class="font-weight-normal">-{% trans 'Шланги пожарные (отечественного и зарубежного производства)' %};</p>
                <p class="font-weight-normal">- {% trans 'Рукава заборные' %};</p>
                <p class="font-weight-normal">- {% trans 'Гайки на шланги и рукава' %};</p>
                <p class="font-weight-normal">-{% trans 'Шайбы' %};</p>
                <p class="font-weight-normal">-{% trans 'Хомуты усиленые' %};</p>
                <p class="font-weight-normal">-{% trans 'Шрайбера' %};</p>
                <p class="font-weight-normal">-{% trans 'Тычки' %};</p>
            </div>
            <div class="col-md-7" id="offers_two">
                <h4 class="mt-5 h4" style="font-size: 14pt;">2. {% trans 'Запчасти к отечественным автомобилям' %}:</h4>
                <p>{% trans 'Предлагаем все, начиная от брелков к ключам и наклеек на машины и мотоциклы, заканчивая резиной и рессорами' %}.</p>
                <h3 class="h3" style="font-size: 14pt;">3. {% trans 'Запчасти к мототехнике' %}:</h3>
                <p>{% trans 'Для скутеров и мотоциклов (отечественного и китайского производства).' %}</p>
                <h3 class="h3" style="font-size: 14pt;">4. {% trans 'Различные масла как для мото, квадро техники, так и для автомобилей двух и четырехтактные​' %}.</h3>
                <h3 class="h3" style="font-size: 14pt;">5. {% trans 'Запчасти  к отечественным и китайским тракторам' %}</h3>
                <h3 class="h3" style="font-size: 14pt;">6. {% trans 'Фонари и прожекторы: ручные, налобные, подводные, (лампочные и светодиодные, для освещения малой и большой территории)' %}.</h3>
                <h3 class="h3" style="font-size: 14pt;">7. {% trans 'Флешки, модуляторы, брелки, ключи для ремонта авто, лопаты' %}.</h3>
                <h3 class="h3" style="font-size: 14pt;">8. {% trans 'Сапоги, временщики и различные костюмы, куртки камуфляжные.' %}
                </h3>

            </div>
        </div>

    </section>
    <section style="margin-top: 80px; margin-left: 45px; margin-bottom: 100px;">
        <div class="photos" style="display: flex">
            <div class="col-sm-6 photo">
                <img src="{% static 'img/about/first.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 photo">
                <img src="{% static 'img/about/second.jpg' %}" alt="" class="img-fluid">
            </div>
        </div>
    </section>




{% endblock %}