{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% load static %}
{% block style %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.loupe.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/zoomple.css' %}">


<style>
        .container{
            position: relative;
            left: -270px;
        }
        .row{
            margin-left: 50px
        }
        .expImg {
            width: 120%;
            height: 450px;
            border: 1px solid black;
        }
        .new-items{
            position: relative;
            left: -60px;
        }
        .info{
            position: relative;
            left: 120px;
        }
        .photos{
            display:table;
            position: relative;

        }
        .nav ul{
            display: none;
        }
        .nav li:hover ul{
            display: block;
        }
        .comments .comment:nth-child(n+5){display:none;}
        .show_hide_list{cursor:pointer;background:grey;}
        .btn-cart button{
            width: 180px;


        }
        .properties{
            margin-left: 60px;
        }
        .comments{
            padding: 10px;
        }
        .product img{
            width: 180px;
            height: 180px;
        }
        .btn-cart{
            margin-left: 4px;
            width: 180px;
        }
        @media screen and (max-width: 1300px){
            .container{
                position: relative;
                left: 0px;
            }
        }
        @media screen and (max-width: 420px){
            .new-items{
                position: relative;
                left: 0;
            }
            .new-items h4{
                margin-left: -10px;
            }
            .container{
                position: relative;
                left: 0px;
            }
            .info{
                position: relative;
                left: 0;
            }
            .expImg{
                width: 320px;
                height: 250px;
                border: 1px solid black;
                margin-left: -18px;
            }
            .photos{
                display: flex;
                margin-left: -35px;
                padding-left: 10px;
            }
            .photos img{
                margin-left: 30px;
            }

            .btn-cart button{
                width: 350px;
                margin-left: -10px;
            }
            .properties{
                margin-left: 35px;
            }
            .propertiesUl{
                display: table;
            }
            .propertiesUl li{
                padding-top: 10px;
            }
            .new-com{
                display: none;
            }
            .card-body{
                display: none;
            }
            .comments{
                margin-left: -920px;
                width: 400px;
            }
            .h4{
                margin-left: -75px;
            }
            .product{
                width: 100%;
                margin-left: -30px;
                margin-top: 20px;
            }
            .product img{
                width: 350px;
                height: 250px;
            }
            .row{
                margin-left: 5px;
            }
            .btn-cart{
                {#width: 400px;#}
                position: relative;
                left: 80px;

            }
            #first{
                width: 110px;
            }

        }

    </style>
{% endblock %}

{% block content %}

    <div class="page d-flex" style="margin-left: 60px;">
        <a href="{% url 'spare:home_page' %}"><p class="red-text" style="word-spacing: 5px">{% trans "Главная" %} / </p></a>
        <a href="{% url 'products:product_list' %}"><p class="red-text" style="word-spacing: 5px">&nbsp;{% trans "Каталог" %}</p></a>

        <p class="red-text font-weight-bold" style="word-spacing: 3px">&nbsp;/ {{ product.title }}</p>
    </div>
    <div class="container dark-grey-text mt-5 ">
        <div class="row wow fadeIn ">
            <div class="col-md-8 mb-5">
            <div class="row">

                <div class="photos col-md-2">
                    {% if product.image_two %}
                        <img src="{{ product.image_two.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                    {% if product.image_three %}
                        <img src="{{ product.image_three.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                    {% if product.image_four %}
                        <img src="{{ product.image_four.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                    {% if product.image_five %}
                        <img src="{{ product.image_five.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                    {% if product.image_six %}
                        <img src="{{ product.image_six.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                    {% if product.image_seven %}
                        <img src="{{ product.image_seven.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                {% if product.image %}
                        <img src="{{ product.image.url }}" onclick="tryImage(this);" width="90" height="90"
                         style="display:table-cell; border: 1px solid black; margin-bottom: 10px;">
                    {% endif %}
                </div>
                <div class="col">
                    {% if product.image %}
                        <img id="expandedImg" src="{{ product.image.url }}" class="expImg">
                        <div id="imgtext"></div>
                    {% endif %}
                </div>

            </div>
                <script>
                    function tryImage(imgs) {
                        let expandImg = document.getElementById("expandedImg");
                        let imgText = document.getElementById("imgtext");
                        expandImg.src = imgs.src;
                        imgText.innerHTML = imgs.alt;
                        expandImg.parentElement.style.display = "block";
                    }
                </script>




            </div>
            <div class="col-md-4 mb-4 info">
                <h3 class="h3 black-text">{{ product.manufacturer.category.title }}</h3>
                <p><small>{% trans "" %}</small></p>

                <hr class="hr-dark w-50">
                {% if product.available %}
article
                {% endif %}
                <p class="font-weight-normal black-text"><i class="fas fa-check-circle"></i>{% trans "Є в наявності" %}  &nbsp;{{ product.available }}</p>
                {% if product.fuel %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Вид пального" %}:</b> &nbsp;{{ product.fuel }}</p>
                {% endif %}
                {% if product.rated_power %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Номінальна потужність" %}:</b> &nbsp;{{ product.rated_power }}</p>
                {% endif %}
                {% if product.max_power %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Максимальна потужність" %}: &nbsp;</b>{{ product.max_power }}</p>
                {% endif %}
                {% if product.launch_sys %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Система пуску" %}: &nbsp;</b>{{ product.launch_sys }}</p>
                {% endif %}

                {% if product.engine %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Тип двигуна" %}:</b> &nbsp;{{ product.engine }}</p>
                {% endif %}
                {% if product.weight %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Вага" %}:</b> &nbsp;{{ product.weight }}</p>
                {% endif %}
                {% if product.price %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text pr-2">{% trans "Цена" %}: &nbsp;{{ product.price }}</b>грн</p>
                {% endif %}

                <form action="{% url "cart:cart_add" product.id %}" method="post" class="d-flex justify-content-left btn-cart">
                            <div style="display: none">{{ cart_product_form }}</div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-md my-0 p white-text" style="background:red;">
                               {% trans "Add to Card" %} <i class="fas fa-shopping-cart white-text"></i>
                         </button>
                    </form>



                </div>



                </div>
            </div>
    <div class="properties">
        <nav>
            <ul class="propertiesUl">
                <li onclick="myFunction()" id="desc" ><p style="font-size: 16pt;font-weight: normal; padding-right: 10px;">{% trans "ОПИСАНИЕ" %}</p></li>
                <li onclick="myFunction1()" id="otz"><p style="font-size: 16pt;font-weight: normal; padding-right: 10px;">{% trans "ОТЗЫВЫ" %}</p></li>
                <li onclick="myFunction2()" id="prop"><p style="font-size: 16pt;font-weight: normal">{% trans "ХАРАКТЕРИСТИКИ" %}</p></li>
            </ul>
        </nav>
        <div class="description" style="width: 400px; padding-top: 20px; padding-left: 10px;">

            <p id='first' style="display: block; text-align: justify; font-weight: normal; font-size: 14pt">
                {{ product.content }}
            </p>
            <div id="third" style="display: none">

                {% if product.fuel %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Вид пального" %}:</b> &nbsp;{{ product.fuel }}</p>
                {% endif %}
                {% if product.rated_power %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Номінальна потужність" %}:</b> &nbsp;{{ product.rated_power }}</p>
                {% endif %}
                {% if product.max_power %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Максимальна потужність" %}: &nbsp;</b>{{ product.max_power }}</p>
                {% endif %}
                {% if product.launch_sys %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Система пуску" %}: &nbsp;</b>{{ product.launch_sys }}</p>
                {% endif %}

                {% if product.engine %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Тип двигуна" %}:</b> &nbsp;{{ product.engine }}</p>
                {% endif %}
                {% if product.weight %}
                    <p class="font-weight-normal black-text"><b class="font-weight-bold black-text">{% trans "Вага" %}:</b> &nbsp;{{ product.weight }}</p>
                {% endif %}

            </div>
            <div id='second' style="display: none;width: 900px" >

                <div class="col-md-4 new-com">
                    <h4>{% trans "Новый комментарий" %}</h4>
                        <form action="" method="post" class="form-comment">
                            {% csrf_token %}
                            {%  bootstrap_form form layput='horizontal' %}
                            <button class="btn btn-danger w-100" type="submit">{% trans "ДОБАВИТЬ" %}</button>
                        </form>
                </div>
            <div class="col-md-5">
            <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                          {% trans "Your comment is add" %}
                        </div>
                        {% else %}
                    {% endif %}
            </div>


                </div>
                {% if comments %}
                <div class="comments">
                {% for comment in comments %}
                    <div class="comment">
                      <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class=" text-muted font-weight-normal">
                          {{ comment.created_at }}
                        </span>
                      </p>
                      {{ comment.content | linebreaks }}
                    </div>

                {% endfor %}
                <div class="show_hide_list btn btn-danger w-100">{% trans "Смотреть все" %}</div>

                    </div>

                {% endif %}
            </div>
            <script>
                jQuery(document).ready(function($){
                if($('.comments').find('.comment').length > 5){
                $('.show_hide_list').click(function(){
                $('.comments .comment:nth-child(n+6)').slideToggle('');
                $(this).toggleClass('opnd_g');
                if($(this).hasClass('opnd_g')){
                $(this).html('Скрыть');}
                else {$(this).html('Смотреть все');}
                });
                }else{$('.show_hide_list').hide();}
                });
            </script>


            </div>
    <script>
        function myFunction() {
            document.getElementById("second").style.display = "none";
            document.getElementById("third").style.display = "none";
            document.getElementById("first").style.display = "block";
            document.getElementById("prop").style.borderBottom = "none";
            document.getElementById("prop").style.fontWeight = "normal";
            document.getElementById("otz").style.borderBottom = "none";
            document.getElementById("otz").style.fontWeight = "normal";
            document.getElementById("desc").style.borderBottom = "1px solid black";
            document.getElementById("desc").style.fontWeight = "bold";
        }
        function myFunction1() {
            document.getElementById("first").style.display = "none";
            document.getElementById("third").style.display = "none";
            document.getElementById("second").style.display = "flex";
            document.getElementById("otz").style.borderBottom = "1px solid black";
            document.getElementById("otz").style.fontWeight = "block";
            document.getElementById("desc").style.borderBottom = "none";
            document.getElementById("desc").style.fontWeight = "normal";
            document.getElementById("prop").style.borderBottom = "none";
            document.getElementById("prop").style.fontWeight = "normal";
        }
        function myFunction2() {
            document.getElementById("first").style.display = "none";
            document.getElementById("second").style.display = "none";
            document.getElementById("third").style.display = "block";
            document.getElementById("prop").style.borderBottom = "1px solid black";
            document.getElementById("prop").style.fontWeight = "bold";
            document.getElementById("desc").style.borderBottom = "none";
            document.getElementById("desc").style.fontWeight = "normal";
            document.getElementById("otz").style.borderBottom = "none";
            document.getElementById("otz").style.fontWeight = "normal";
        }
    </script>

        <hr>
        <div class="row d-flex justify-content-start wow fadeIn new-items">
            <div class="col-md-6 text-left">
                <h4 class="my-4 h4">{% trans "НОВИНКИ" %}</h4>

            </div>
        </div>


        <div class="row wow rollIn new-items">

         {% for product in products %}
            <div class="col-sm-2">

                    <div class="product text-center">
                    {% if product.image %}
                        <a href="{% url 'products:product_detail' slug=product.slug %}"><img src="{{ product.image.url }}" width="180" height="180" alt="" style="border:1px solid black"></a>
                    {% endif %}

                        <p><small>{{ product.manufacturer.category.title }}</small></p>
                        <p class="font-weight-bold">{{ product.title }}</p>
                        <p>{{ product.price }} грн</p>
                         <form action="{% url "cart:cart_add" product.id %}" method="post" style="width: 200px;" class="d-flex justify-content-left">
                            <div style="display: none">{{ cart_product_form }}</div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-md my-0 btn-cart">
                               Add to Card <i class="fas fa-shopping-cart white-text"></i>
                         </button>
                    </form>
                </div>
            </div>
                {% endfor %}




{% endblock %}