{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="{% static 'css/style_news.css' %}">
    <style>
    button.accordion{
        background-color: white;
        color: #444;
        cursor: poiner;
        padding: 18px;
        {#padding-bottom: 0px;#}
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;

}
    .accordion:after{
        content: '\25be';
        float: right;
        {#background: #000;#}
    }
button.accordion.active,
button.accordion:hover{
	background-color: #faf7f7;
}
button.accordion.active:after{
    content: '\25b4';
}

div.panel{
	padding: 0 18px;
	background-color: white;
	display: none;
}
div.panel.show{
	display: block;
}
.manuf-list{
    padding-bottom: 10px;
    padding-left: 10px;
}
.manuf-list a{
    font-size: 14px;
}

    .page-path{
        display: flex;
    }
    .ot{
        width: 167px;
    }
    .do{
        width: 167px;

    }
    .btn{
        background: red;
        color: white;
        padding-top: -10px;
    }
    .nav-cat{
        {#border: 1px solid black;#}
        height: 30px;

    }

     .nav ul{
            display: none;
            width: 200px;
         float: left;
             {#margin-top: 20px;#}
        }
        .nav .nav-cat:hover{
            height: auto;

        }
        .nav .nav-cat:hover a{
            font-size: 14px;

        }
         .nav .nav-cat:hover ul{
            display: block;
        }
         .manuf{
             {#position:relative; left: -120px; top: 20px;#}
             margin-top:40px;
             float: left;
             {#margin-left: -30px;#}
         }
         .li_man{
             {#border: 1px solid black;#}

         }
        .cat{
            font-size: 20px;
        }
         .prod-image{
            width: 200px;
            height: 200px;
        }
         .range {
    width:350px;
    height:80px;

    border-radius: 4px;
    background-color: white;
}

.range__button_1, .range__button_2 {
    position: absolute;
    top: 52%;
    left: 15px;

    width: 20px;
    height: 20px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: red;
}
.range__between
{
  position: absolute;
    height: 5px;
    width:40px;
    margin-top:49px;
    margin-left: 7px;
    border: none;

    background-color: red;
}
{#.range_inpt1, .range_inpt2#}
{#{#}
{#  margin-top:20px;#}
{#  width: 50px;#}
{#}#}
 {#.products{#}
 {#           padding-top: 20px;#}
 {#           margin-left: 70px;#}
 {#       }#}
    @media screen and (max-width: 420px){
        .page-path{
            display: none;
        }
         .nav{
        margin-left: -30px;
        width: 100%;
    }
        .man{
            padding-left: 70px;
        }
        .type{
            padding-left: 72px;
        }
        h3{
            text-align: center;
        }
        .ot{
            width: 165px;
        }
        .do{
            width: 165px;
        }
        .products{
            padding-top: 20px;
            margin-left: 70px;
        }
        .pagination_main{
            position: relative;
            left: 100px;
        }
        .nav-cat{
            width: 100%;

        }
        .nav-cat{
            width: auto;
        }
        .prod-image{
            width: 310px;
            height: 310px;
        }
        .range__button_1, .range__button_2 {
    position: absolute;
    top: 52%;
    left: -6px;

    width: 20px;
    height: 20px;

    cursor: move;
    transform: translateY(-50%);

    border: none;
    border-radius: 50%;
    background-color: red;
}
    }


    </style>
{% endblock %}
{% block content %}


<div class="page-path" style="margin-left: 60px;">
        <p class="red-text" style="word-spacing: 5px">Главная    / </p>

        <p class="red-text font-weight-bold" style="word-spacing: 3px">&nbsp;Каталог </p>
    </div>


  <div class="row">
        <div class="col-sm-3" style="margin-left: 60px;">
            <ul class="nav flex-column">
                <li class="nav-item pl-2" style="background: red;">
                    <h3 class="h3 white-text pt-2 fil">{% trans 'ФИЛЬТР' %}</h3></li>
                <li class="nav-item pl-2 pt-4">
                    <h3 class="h3 man" style="font-size: 16pt">{% trans 'ПРОИЗВОДИТЕЛЬ' %}</h3>
                </li>
                <li class="nav-item pl-2 pt-2">
                    <h3 class="h3 type" style="font-size: 16pt">{% trans 'ТИП ЗАПЧАСТИ' %}</h3>
                </li>


                <li class="nav-item pl-2 pb-3">
                    <form action="{% url 'products:filter_products' %}" method="get">
                    {% csrf_token %}
                        <input type="checkbox" name="kind" value="a">
                        <span style="font-weight: normal; font-size: 16pt;">Аналог</span>
                        <br>

                        <input type="checkbox" name="kind" value="o">
                        <span style="font-weight: normal; font-size: 16pt;">Оригинал</span>
                         <h3 class="h3" style="font-size: 16pt; margin-top: 15px;">{% trans 'ЦЕНА' %}</h3>
                        <div id='id66' class="range">
                          <div id='id66b' class='range__between'></div>
                             <input type="text" placeholder="от" id='id66i1' value="{% if ot %}{{ ot }}{% endif %}" min='700' max='15000'  name="ot" class="ot range_inpt1">
                             <input type="text" placeholder="до" id='id66i2' value="{% if do %}{{ do }}{% endif %}" min='700' max='15000' name="do" class="do range_inpt2">
                            <button id='id661' class="range__button_1"></button>
                            <button id='id662' class="range__button_2"></button>

                        </div>

                        <button type="submit" class="btn btn-light-red w-100 white-text"
                                style="position:relative; left: -7px; top: 6px; background: red;">{% trans 'SEARCH' %}</button>
                    </form>
                </li>
                {% if category.tite %}
                     <li class="nav-item pl-2 pt-2 mt-4" style="background: red;">
                    <h3 class="h3 white-text">{{ categoty.title }}</h3>
                </li>
                {% endif %}

{% for catagory in catagories %}
        <button class="accordion"><b><a href="{% url 'products:category_detail' slug=catagory.slug %}" class="black-text">
                {{ catagory.title }}</a></b></button>

        {% if catagory.manufactures.all %}

                    <div class="panel">
                        <ul style="display: table">
                            {% for man in catagory.manufactures.all %}
                            <li class="manuf-list">
                                <a href="{% url 'products:manufacturer_detail' slug=man.slug %}" class="nav-link-two black-text font-weight-bold">
                        {{ man.title }}
                    </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>



        {% endif %}

    {% endfor %}



            </ul>
        </div>

        <div class="col-lg-8 products">
            <div class="row">
                {% for product in page_object.object_list %}
                    <div class="product text-center pb-4">
{#                        <form action="{% url 'viewed:view_add' product.id%}" method="post">#}
{#                        {% csrf_token %}#}
                             {% if product.image %}
                        <a href="{% url 'products:product_detail' slug=product.slug %}"><img src="{{ product.image.url }}" width="200" height="200" class="prod-image" alt=""
                                                                                             style="border:1px solid black"></a>
                    {% endif %}
{#                         <div style="display: none">#}
{#                                {{ viewed_product_form }}#}
{#                            </div>#}
{#                        </form>#}


                        <p><small>{{ product.manufacturer.category.title }}</small></p>
                        <p class="font-weight-bold">{{ product.title }}</p>
                        <h3 class="h3">{{ product.price }} <small>грн</small></h3>
                        <form action="{% url "cart:cart_add" product.id %}" method="post" style="margin-right: 10px; margin-top: -10px;">
                            {% csrf_token %}
                            <div style="display: none">
                                {{ cart_product_form }}
                            </div>


                     <button class="btn w-100 ">{% trans "В КОРЗИНУ" %} <i class="fas fa-shopping-cart white-text"></i></button>
                        </form>
                </div>
                {% endfor %}

                <div class="col-lg-3 col-md-4 mb-4">

                    </div>





            </div>
        </div>




    </div>
{#    {% if user.is_authenticated %}#}
{#        <div style="margin-left: 60px; margin-top: 40px;">#}
{#        <a href="{% url 'products:add_product' %}" class="btn btn-danger">{% trans "Add product" %}</a>#}
{#         <a href="{% url 'products:add_category' %}" class="btn btn-danger">{% trans "Add Category" %}</a>#}
{#         <a href="{% url 'products:add_manufacturer' %}" class="btn btn-danger">{% trans "Add Manufacturer" %}</a>#}
{##}
{#        </div>#}
{##}
{#    {% endif %}#}

    <div class="pagination_main" style="height: 50px">
    <nav aria-label="Page navigation example" style="float: right; margin-right:190px; margin-top: 40px;">
  <ul class="pagination pagination-circle pg-red">
    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
    <li class="page-item {% if not prev_url %}disabled{% endif %}">
      <a class="page-link" aria-label="Previous" href="{{ prev_url }}">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

       {% for n in page_object.paginator.page_range %}
           {% if page_object.number == n %}
                <li class="page-item active"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
               {% elif n > page_object.number|add:-3 and n < page_object.number|add:3 %}
               <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
           {% endif %}

      {% endfor %}
    <li class="page-item">
      <a class="page-link" href="{{ next_url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="{{ last_url }}">Last</a></li>
  </ul>
</nav>
    </div>





{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}

    <script>
    var acc = document.getElementsByClassName("accordion");
var i;

for(i=0; i < acc.length; i++){
	acc[i].onclick = function(){
		this.classList.toggle("active");

		this.nextElementSibling.classList.toggle("show");
	}
}
    </script>
    <script>
    setTimeout(init2slider('id66', 'id66b', 'id661', 'id662', 'id66i1', 'id66i2'), 0);

function init2slider(idX, btwX, btn1X, btn2X, input1, input2) {
    var slider = document.getElementById(idX);
    var between = document.getElementById(btwX);
    var button1 = document.getElementById(btn1X);
    var button2 = document.getElementById(btn2X);
    var inpt1 = document.getElementById(input1);
    var inpt2 = document.getElementById(input2);

            var min=inpt1.min;
  					var max=inpt1.max;

    /*init*/
    var sliderCoords = getCoords(slider);
    button1.style.marginLeft = '0px';
    button2.style.marginLeft = (slider.offsetWidth-button1.offsetWidth) + 'px';
    between.style.width = (slider.offsetWidth-button1.offsetWidth) + 'px';
    inpt1.value = min;
    inpt2.value = max;

    inpt1.onchange= function(evt)
    {
    	if (parseInt(inpt1.value) < min)
    		inpt1.value = min;
    	if (parseInt(inpt1.value) > max)
    		inpt1.value = max;
    	if (parseInt(inpt1.value) > parseInt(inpt2.value))
      {
      	var temp = inpt1.value;
    		inpt1.value = inpt2.value;
    		inpt2.value = temp;
      }


        var sliderCoords = getCoords(slider);
        var per1 = parseInt(inpt1.value-min)*100/(max-min);
        var per2 = parseInt(inpt2.value-min)*100/(max-min);
        var left1 = per1*(slider.offsetWidth-button1.offsetWidth)/100;
        var left2 = per2*(slider.offsetWidth-button1.offsetWidth)/100;

            button1.style.marginLeft = left1 + 'px';
            button2.style.marginLeft = left2 + 'px';

            if (left1 > left2)
              {
                between.style.width = (left1-left2) + 'px';
                between.style.marginLeft = left2 + 'px';
              }
            else
              {
                between.style.width = (left2-left1) + 'px';
                between.style.marginLeft = left1 + 'px';
              }
    }
    inpt2.onchange= function(evt)
    {
    	if (parseInt(inpt2.value) < min)
    		inpt2.value = min;
    	if (parseInt(inpt2.value) > max)
    		inpt2.value = max;
    	if (parseInt(inpt1.value) > parseInt(inpt2.value))
      {
      	var temp = inpt1.value;
    		inpt1.value = inpt2.value;
    		inpt2.value = temp;
      }

        var sliderCoords = getCoords(slider);
        var per1 = parseInt(inpt1.value-min)*100/(max-min);
        var per2 = parseInt(inpt2.value-min)*100/(max-min);
        var left1 = per1*(slider.offsetWidth-button1.offsetWidth)/100;
        var left2 = per2*(slider.offsetWidth-button1.offsetWidth)/100;

            button1.style.marginLeft = left1 + 'px';
            button2.style.marginLeft = left2 + 'px';

            if (left1 > left2)
              {
                between.style.width = (left1-left2) + 'px';
                between.style.marginLeft = left2 + 'px';
              }
            else
              {
                between.style.width = (left2-left1) + 'px';
                between.style.marginLeft = left1 + 'px';
              }
    }

    /*mouse*/
    button1.onmousedown = function(evt) {
        var sliderCoords = getCoords(slider);
        var betweenCoords = getCoords(between);
        var buttonCoords1 = getCoords(button1);
        var buttonCoords2 = getCoords(button2);
        var shiftX2 = evt.pageX - buttonCoords2.left;
        var shiftX1 = evt.pageX - buttonCoords1.left;

        document.onmousemove = function(evt) {
            var left1 = evt.pageX - shiftX1 - sliderCoords.left;
            var right1 = slider.offsetWidth - button1.offsetWidth;
            if (left1 < 0) left1 = 0;
            if (left1 > right1) left1 = right1;
            button1.style.marginLeft = left1 + 'px';


    				shiftX2 = evt.pageX - buttonCoords2.left;
            var left2 = evt.pageX - shiftX2 - sliderCoords.left;
            var right2 = slider.offsetWidth - button2.offsetWidth;
            if (left2 < 0) left2 = 0;
            if (left2 > right2) left2 = right2;

                var per_min = 0;
                var per_max = 0;
            if (left1 > left2)
              {
                between.style.width = (left1-left2) + 'px';
                between.style.marginLeft = left2 + 'px';

                per_min = left2*100/(slider.offsetWidth-button1.offsetWidth);
                per_max = left1*100/(slider.offsetWidth-button1.offsetWidth);
              }
            else
              {
                between.style.width = (left2-left1) + 'px';
                between.style.marginLeft = left1 + 'px';

                per_min = left1*100/(slider.offsetWidth-button1.offsetWidth);
                per_max = left2*100/(slider.offsetWidth-button1.offsetWidth);
              }
                inpt1.value= (parseInt(min)+Math.round((max-min)*per_min/100));
                inpt2.value= (parseInt(min)+Math.round((max-min)*per_max/100));

        };
        document.onmouseup = function() {
            document.onmousemove = document.onmouseup = null;
        };
        return false;
    };

  button2.onmousedown = function(evt) {
        var sliderCoords = getCoords(slider);
        var betweenCoords = getCoords(between);
        var buttonCoords1 = getCoords(button1);
        var buttonCoords2 = getCoords(button2);
        var shiftX2 = evt.pageX - buttonCoords2.left;
        var shiftX1 = evt.pageX - buttonCoords1.left;

        document.onmousemove = function(evt) {
            var left2 = evt.pageX - shiftX2 - sliderCoords.left;
            var right2 = slider.offsetWidth - button2.offsetWidth;
            if (left2 < 0) left2 = 0;
            if (left2 > right2) left2 = right2;
            button2.style.marginLeft = left2 + 'px';


            shiftX1 = evt.pageX - buttonCoords1.left;
            var left1 = evt.pageX - shiftX1 - sliderCoords.left;
            var right1 = slider.offsetWidth - button1.offsetWidth;
            if (left1 < 0) left1 = 0;
            if (left1 > right1) left1 = right1;

                var per_min = 0;
                var per_max = 0;

            if (left1 > left2)
              {
                between.style.width = (left1-left2) + 'px';
                between.style.marginLeft = left2 + 'px';
                per_min = left2*100/(slider.offsetWidth-button1.offsetWidth);
                per_max = left1*100/(slider.offsetWidth-button1.offsetWidth);
              }
            else
              {
                between.style.width = (left2-left1) + 'px';
                between.style.marginLeft = left1 + 'px';
                per_min = left1*100/(slider.offsetWidth-button1.offsetWidth);
                per_max = left2*100/(slider.offsetWidth-button1.offsetWidth);
              }
                inpt1.value= (parseInt(min)+Math.round((max-min)*per_min/100));
                inpt2.value= (parseInt(min)+Math.round((max-min)*per_max/100));

        };
        document.onmouseup = function() {
            document.onmousemove = document.onmouseup = null;
        };
        return false;
    };

    button1.ondragstart = function() {
        return false;
    };
    button2.ondragstart = function() {
        return false;
    };

    function getCoords(elem) {
        var box = elem.getBoundingClientRect();
        return {
            top: box.top + pageYOffset,
            left: box.left + pageXOffset
        };
    }

}
    </script>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  <!-- Your custom scripts (optional) -->
  <script type="text/javascript"></script>

{% endblock %}